<app-navbar></app-navbar>
<div  id="sect1">
<section class="vh-100">
  <div class="container-fluid h-custom">
  <br><br><br>
  <p>WELCOME TO TICKET MANAEMENT SYSTEM</p>
    <p>A ticketing system is a help desk software program used to process, manage, <br>
      and track customer issues from submission to resolution.<br>
     Ticketing systems automatically organize and prioritize support requests<br>
      in a central dashboard.<br>
      Customer complain monitoring and management is the big challenge of any organization. <br>
      Here,
      the solutions I prepare will present as a software named ticketing System 
      comes <br>with the complete complain management solution for any types of business
      organizations.</p>
 
  </div>
</section>
</div>
