#sect1 {  
    height: 640px; 
    background-size:100%;  
    background-size:cover; 
    color: #fff;background-image:url("../../assets/38.jpg");
    background-color: #cccccc; 
    padding-top: 100px;
    }